<app-generic-list [listForDisplay]="movies">

    <!-- <ng-container loading>
        <h4>Please wait while we load the movies .... </h4>
    </ng-container> -->

    <ng-container empty>
        <h4>There are NO movies to dispaly.</h4>
    </ng-container>

    <ng-container content>
        <div *ngFor="let movie of movies; let index = index" class="movie-container">
            <div style="display: flex">
                <h2>{{index+1}}. {{movie.title | uppercase}}</h2>
                <button style="margin-left: 1rem;" (click)="remove(index)">Remove</button>
            </div>
            <div>
                {{movie.releaseDate | date:"dd-MMMM-yyyy" | lowercase}}
            </div>
            <div>
                {{movie.price | currency:"INR":"symbol":"1.2-2"}}
            </div>
        </div>
    </ng-container>
</app-generic-list>

<!-- <div *ngIf="!movies">
    <img src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca_w200.gif">
</div>

<div *ngIf="movies?.length === 0">
    <h4>No movies to display.</h4>
</div>

<ng-container *ngIf="movies && movies.length > 0">
    <div *ngFor="let movie of movies; let index = index" class="movie-container">
        <div>
            {{index+1}}. {{movie.title | uppercase}}
            <button style="margin-left: 1rem;" (click)="remove(index)">Remove</button>
        </div>
        <div>
            {{movie.releaseDate | date:"dd-MMMM-yyyy" | lowercase}}
        </div>
        <div>
            {{movie.price | currency:"INR":true}}
        </div>
    </div>
</ng-container> -->